.info__features {
    margin: 0;
    margin-bottom: 57px;
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 31px;
}

@media screen and (max-width: 1300px) {
    .info__features {
        gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .info__features {
        gap: 30px;
    }
}