.marcetplace__futures-diagram {
    width: 100%;
    height: auto;
    
}
/*
@media screen and (max-width: 1600px) {
    .marcetplace__futures-diagram {
        width: 150px;
    }
}

@media screen and (max-width: 1400px) {
    .marcetplace__futures-diagram {
        width: 120px;
    }
}*/