.header__links {
    margin: 0;
    margin-right: 9.7%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30.5px;
}

@media screen and (max-width: 1700px) {
    .header__links {
        margin-right: 7%;
        gap: 5%;
    }
}

@media screen and (max-width: 700px) {
    .header__links {
        margin-right: 4%;
    }
}

@media screen and (max-width: 767px) {
    .header__links {
        display: none;
    }
}
