.crypto100__info-indicators {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 30px;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .crypto100__info-indicators {
        row-gap: 20px;
    }
}

@media screen and (max-width: 550px) {
    .crypto100__info-indicators {
        width: 100%;
    }
}
