.info__index {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "Futura", "Arial", sans-serif;
    font-size: 36.77px;
    font-weight: 500;
    line-height: 45.96px;
    letter-spacing: 0px;
}

@media screen and (max-width: 1600px) {
    .info__index {
        font-size: 25px;
        line-height: 35px;
    }
}

@media screen and (max-width: 550px) {
    .info__index {
        font-size: 15px;
        line-height: 20px;
    }
}