.intro__blockTeam {
    margin: 0;
    margin-right: 65px;
    padding: 0;
    width: 244px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 950px) {
    .intro__blockTeam {
        width: 200px;
    }
}