.intro__coin {
    max-width: 49.08px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1300px) {
    .intro__coin {
        max-width: 40px;
    }
}

@media screen and (max-width: 800px) {
    .intro__coin {
        max-width: 30px;
    }
}


