.header__link {
    color: rgb(255, 255, 255);
    font-family: "Futura", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-decoration: none;
}

.header__link:hover {
    opacity: .6;
}

@media screen and (max-width: 1800px) {
    .header__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 1400px) {
    .header__link {
        font-size: 10px;
    }
}

@media screen and (max-width: 1050px) {
    .header__link {
        font-size: 7px;
    }
}

@media screen and (max-width: 600px) {
    .header__link {
        font-size: 15px;
    }
}