.header__link {
    color: rgb(255, 255, 255);
    font-family: "Futura", "Arial", sans-serif;
    /*font-size: 20px;*/
    font-size: calc(10px + 10 * (100vw / 1920));
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-decoration: none;
}

.header__link:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .header__link {
        font-size: 15px;
    }
}