.footer__link {
    font-family: "Futura", "Arial", sans-serif;
    /*font-style: normal;*/
    font-weight: 500;
    font-size: 25px;
    line-height: 33.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
   
}

@media screen and (max-width: 1200px) {
    .footer__link {
        font-size: 20px;
        line-height: 25px;
       
    }
}

@media screen and (max-width: 950px) {
    .footer__link {
        font-size: 15px;
        line-height: 17px;
       
    }
}


