.logo {
    height: 700px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 1700px) {
    .logo {
        height: 500px;
    }
}

@media screen and (max-width: 1400px) {
    .logo {
        height: 400px;
    }
}

@media screen and (max-width: 1050px) {
    .logo {
        height: 300px;
    }
}

@media screen and (max-width: 850px) {
    .logo {
        height: 200px;
    }
}

@media screen and (max-width: 550px) {
    .logo {
        height: 100px;
    }
}