.intro__teamList {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .intro__teamList {
        justify-content: flex-start;
        gap: 20px;
    }
}