.footer__link_span {
    background: linear-gradient(90.00deg, #816FD8,#F20074,#2063F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}