.header__button {
    width: 17%;
    height: 50px;
    padding: 0.72%;
    cursor: pointer;
    background: 
        linear-gradient(#201c2d 0 0) padding-box, /*this is background*/
        linear-gradient(#5A2FED, #8F00FF) border-box;
    border: 1px solid transparent;
    border-radius: 30px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button:hover {
    opacity: .6;
}

@media screen and (max-width: 1750px) {
    .header__button {
        position: absolute;
        right: 12%;
        top: 80px;
    }
}

@media screen and (max-width: 1200px) {
    .header__button {
        right: 10%;
    }
}

@media screen and (max-width: 900px) {
    .header__button {
        right: 6%;
    }
}

@media screen and (max-width: 767px) {
    .header__button {
        position: sticky;
        width: 30%;
        height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .header__button {
        order: 3;
        width: 200px;
        margin: 0 auto;

}
}
