.crypto100__infoTitle {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "Futura", "Arial", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 41.65px;
}

@media screen and (max-width: 1000px) {
    .crypto100__infoTitle {
        font-size: 25px;
        line-height: 30px;
    }
}

@media screen and (max-width: 750px) {
    .crypto100__infoTitle {
        font-size: 20px;
        line-height: 23px;
    }
}