.intro {
    margin: 0;
    padding: 0 16% 73px 16%;
}

@media screen and (max-width: 1200px) {
    .intro {
        padding: 0 12% 73px 12%;
    }
}

@media screen and (max-width: 900px) {
    .intro {
        padding: 0 7% 73px 7%;
    }
}