.cryptoClub__crypto {
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 23px;
}

@media screen and (max-width: 1450px) {
    .cryptoClub__crypto {
        width: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .cryptoClub__crypto {
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .cryptoClub__crypto {
        width: 290px;
    }
}