.marcetplace__futures {
    margin: 0;
    padding: 28px 25px 18px 18px;
    width: 100%;
    height: auto;
    background: 
        linear-gradient(#12111E 0 0) padding-box, /*this is background*/
        linear-gradient(to right, #FC00FF, #00DBDE) border-box;
    border: 1px solid transparent;
    border-radius: 20px;
    display: inline-block;
    box-sizing: border-box;
    

}