.intro__creatCoinTitle__span {
    font-weight: 700;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,#1ABEE9,#C96EDE,#F35163);
    -webkit-background-clip: text;
}