.form__select {
    font-family: "Futura", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #9399A4;
    background: transparent;
    /*background: rgb(32, 28, 45);*/
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .form__select {
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .form__select {
        font-size: 7px;
    }
}

@media screen and (max-width: 750px) {
    .form__select {
        font-size: 5px;
    }
}