.marcetplace__band_active {
    border: none;
    background: 
        linear-gradient(rgb(32, 28, 45) 0 0) padding-box, /*this is background*/
        linear-gradient(to right, #FC00FF, #00DBDE) border-box;
    border-bottom: 1px solid transparent;
    display: inline-block;
    box-sizing: border-box;
}