.marcetplace__futures-index {
    margin: 0 0 4px;
    padding: 0;
    font-family: "Futura", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.78px;
    color: #868E9B;
}

@media screen and (max-width: 1730px) {
    .marcetplace__futures-index {
        font-size: 11px;
    }
}

@media screen and (max-width: 1500px) {
    .marcetplace__futures-index {
        font-size: 9px;
    }
}
