.intro__teamTitle {
    margin: 0 0 20px;
    padding: 0;
    width: 238px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: "Futura", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 500;
    /*line-height: 0px;
    letter-spacing: 0%;*/
    text-align: left;
}