.header__lang-links {
    margin: 0;
    margin-right: 21px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        display: none;
    }
}
