.form__widht-130 {
    width: 130px;
}

@media screen and (max-width: 1600px) {
    .form__widht-130 {
        width: 90px;
    }
}

@media screen and (max-width: 1000px) {
    .form__widht-130 {
        width: 70px;
    }
}