.logo__logoImg {
    width: 232px;
    height: 232px;
}

@media screen and (max-width: 1400px) {
    .logo__logoImg {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .logo__logoImg {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 850px) {
    .logo__logoImg {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 550px) {
    .logo__logoImg {
        width: 30px;
        height: 30px;
    }
}